


.moves {
    padding-left: 150px;
}

.main-btn {
    margin-top: 260px;
    display: inline-block;
}

h3 {
    padding-left: 205px;
    color: white;
}

h4 {
    color: white;
    padding: 10px;
}