* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 200%;
}

p {
  font-size: 100%;
}

.fas {
  padding-right: 8px;
}

.btn-group {
  padding: 10px;
}

.text-light {
  padding-left: 10px;
}

img {
  padding-right: 4px;
}

.table img {
  height: 18px;
}

 nav ul li a {
   font-family: impact sans-serif;
 }

.list-unstyled {
  padding-top: 30px;
}

.task {
  margin: 10px;
  padding-top: 5%;
  font-size: 100%;
}

.task img {
  border-radius: 30px;
  height: 40%;
  width: 40%;
}
hr {
   color: white;
 }

.dropdown-menu ul {
  text-decoration: none;
  text-transform: none;
  list-style: none
}

.dropdown-menu ul li ul {
  display: none;
}

.dropdown-menu ul li:hover ul {
  display: block;
}

.breadcrumb {
  margin-top: 0.5%;
}

.badge {
  margin-left: 5px;
}

.chess {
  margin-top: 2%;
  margin-left: 20%;
}
